.rectangle4 {
    width: 1512px;
    height: 939px;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../image/rectangle\ 4.png);
    background-size: cover;
    background-position: center;
    display: block;

}





.menu-container {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    position: absolute;
    top: 10%;
    left: 15%;

}

.menu1 {

    color: #ffffff;
    text-decoration: none;
    margin-right: 8px;
}

.menu {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    word-spacing: 30px;
}

.content {
    top: 1050px;
    width: 1175px;
    left: 167px;
    height: 405px;
    position: absolute;
    font-family: Inter, sans-serif;
}



.content .title1,
.title2 {

    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    font-weight: 600;
    letter-spacing: 0.06em;

}

.title1 {

    font-size: 60px;
    font-weight: 600;
    line-height: 72.61px;
    letter-spacing: 0.06em;

}

.title2 {


    font-size: 50px;
    font-weight: 600;
    line-height: 60.51px;
    letter-spacing: 0.06em;



}

.container-text {


    width: 1146px;
    height: 405px;
    position: absolute;
    top: 1140px;
    left: 167px;


}


.text-body {
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.41px;
    letter-spacing: 0.07em;
    text-align: left;
}

.text-body-bold {
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
    letter-spacing: 0.07em;
    text-align: left;


}

.text-body {


    font-weight: 400;
    line-height: 48.41px;
    letter-spacing: 0.07em;
    text-align: left;

}

.text-body-red {
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.41px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #ec3232;



}

.text-body {



    line-height: 48.41px;
    letter-spacing: 0.07em;
    text-align: left;
}

.rectangle79 {
    width: 1512px;
    height: 811px;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../image/rectangle\ 79.png);
    background-size: cover;
    background-position: center;
    display: block;
    top: 489px;

}

.content2 {

    font-family: Inter, sans-serif;
    color: #FFFFFF;
    padding: 10px 141px;

}

.container-text1 {

    width: 750.45px;
    height: 174px;

    font-size: 60px;
    font-weight: 600;
    line-height: 72.61px;
    letter-spacing: 0.06em;
    text-align: center;


}

.container-text2 {

    width: 758px;
    height: 533px;

    font-size: 28px;
    font-weight: 400;
    line-height: 33.89px;
    letter-spacing: 0.14em;
    text-align: left;







}

.image26 {
    background-image: url(../image/image\ 26.png);
    position: absolute;
    width: 504px;
    height: 429px;
    top: 1631px;
    left: 1015px;
    border-radius: 50px 0px 0px 50px;


}

.image8 {
    background-image: url(../image/image\ 8.png);
    position: absolute;
    width: 430px;
    height: 652px;
    top: 2345px;

}

.container-text3 {


    top: 2433px;
    left: 473px;
    position: absolute;
    display: inline-block;
    text-align: justified;
    color: #000000;

}

.feeling_bore {

    width: 549px;
    height: 97px;
    top: 2433px;
    left: 473px;
    font-family: Inter, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60.51px;
    letter-spacing: 0.07em;


}

.content-text {


    width: 871px;
    height: 329px;
    top: 2530px;
    left: 473px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 33.89px;
    letter-spacing: 0.06em;
    text-align: justify;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px #00000040;


}

.title3 {
    width: 1175px;
    height: 73px;
    top: 73px;
    left: -299px;
    font-family: Inter, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60.51px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000000;
    display: inline-block;
    position: relative;
}

.title4 {

    width: 279px;
    height: 55px;
    top: 93;
    left: -264px;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    color: #000000;

    position: relative;
}

.heros_frame {

    background-image: url(../image/heros\ frame.png);
    position: absolute;

    width: 1512px;
    height: 772px;
    top: 3166px;
    left: 9px;

}

.elixer-troops {
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    position: relative;
    color: #000000;
    top: 2152px;
    left: 212px;
    width: 332px;
    height: 68px;

}

.frame5 {
    background-image: url(../image/Frame\ 5.png);
    position: absolute;
    width: 1507px;
    height: 600px;
    top: 3977px;
    left: 9px;

}

.dark-elixer-troops {

    width: 451px;
    height: 65px;
    top: 2725px;
    left: 212px;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    position: relative;
    color: #000000;
}

.frame6 {
    background-image: url(../image/Frame\ 6.png);
    position: absolute;
    width: 1513px;
    height: 640px;
    top: 4648px;
    left: -1px;


}

.rectangle78 {

    background-image: url(../image/Rectangle\ 78.png);
    position: absolute;
    width: 1512px;
    height: 790px;
    top: 5330px;


}

.see-the-latest {

    top: 3504px;
    left: 170px;
    font-family: Inter, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60.51px;
    letter-spacing: 0.06em;
    text-align: left;
    position: relative;
    color: #ffffff;

}

.text-footer {

    width: 710px;
    height: 177px;
    top: 3504px;
    left: 171px;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 33.89px;
    letter-spacing: 0.14em;
    text-align: left;
    position: relative;
    color: #ffffff;
}

.title5 {
    width: 382px;
    height: 30px;
    top: 3506px;
    left: 171px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: -0.01em;
    text-align: left;
    position: relative;
    color: #ffffff;
}

.rectangle24 {
    background-image: url(../image/Rectangle\ 24.png);

    position: absolute;
    width: 504px;
    height: 429px;
    top: 5501px;
    left: 1012px;

    border-radius: 50px 0px 0px 50px;


}
.social {
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding-left: -102%;
    position: absolute;
    top: 74%;
    left: -165%;
}



.youtub,
.facebook,
.linkedin,
.instagram,
.twitter {
    margin-right: 20px;
    background-repeat: no-repeat;

}

.youtub {
    background-image: url(../image/icons8-youtube-22.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 40px;


}

.facebook {
    background-image: url(../image/bi_facebook.png);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;

}

.linkedin {
    background-image: url(../image/akar-icons_linkedin-box-fill.png);
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;

}

.instagram {
    background-image: url(../image/akar-icons_instagram-fill.png);
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;

}


.twitter {
    background-image: url(../image/akar-icons_twitter-fill.png);
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;

}